* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 p, a, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
} 
body {
    min-width: 360px;
    
}

/***************************************** Header Start*/

.header {
    width: 1440px;
    /* border: 1px solid black; */
    margin: 0 auto;
}
.container {
    width: 1365px;
    margin: 0 auto;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    padding: 26px 38px;
}
.header__menu {
    display: flex;
}
.header__menu-link {
    margin-right: 24px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
}
.header__logo {
    width: 200;
    height: 17;
    opacity: 1;
}
.header__login {
    
}
.header__login-link {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
}
.header__banner {
    background: url(../img/header-bg.png) no-repeat center / cover;
    height: 504px;
    width: 100%;
    position: relative;
}
.header__banner-container {
    position: absolute;
    bottom: 187px ;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 100%;
}
.header__banner-title {
    font-family: 'Roboto';
    font-weight: 400;
    color:#fff;
    font-size: 43px;
    padding-bottom: 12px;

}
.header__banner-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    color:#fff;
    padding-bottom: 28px; 
}
.header__banner-link {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
    color:#fff;
    text-transform: uppercase;
}

/************************************** Start section design */

.section__design {
    width: 580px;
    height: 153px;
    /* border: 1px solid black; */
    margin: 80px auto;

}
.section__design-container {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 100%;

}
.section__design-title {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: Regular;
    font-size: 43px;
    color: #000;
    padding-bottom: 23px;
}
.section__design-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    color: #A0A0A0;
    padding-bottom: 26px;
}
.section__design-link {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    color: #000;
    text-transform: uppercase;
}


/**************************************************** Start section-loptop */
.section-loptop {
}
.section__loptop-container {
    display: flex;
    justify-content: space-around;
}
.section-loptop__desk-pads {
    text-align: center;

}
.section-loptop__desk-pads-img{
    padding-bottom: 43px;
}
.section-loptop__desk-pads-title {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: Regular;
    font-size: 27px;
    color:#000;
    padding-bottom: 23px;
}
.section-loptop__desk-pads-link {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    text-transform: uppercase;
    color:#000;
}
/************************************************ Start featured*/

.section__featured {
    width: 580px;
    height: 153px;
    /* border: 1px solid black; */
    margin: 80px auto;

}
.section__featured-container {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 100%;

}
.section__featured-title {
    font-family: 'Roboto';
    color:#000;
    font-weight: 400;
    font-style: Regular;
    font-size: 33px;
    text-align: center;
    padding-bottom: 16px;
}
.section__featured-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    color: #A0A0A0;
    padding-bottom: 48px;
}

.section__featured-square {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.square-one {
    width: 7px;
    height: 7px;
    background-color: #000;
}

.section__featured-products {
    display: flex;
    justify-content: space-between;
}
.container_section__featured-item {
    padding-right: 25px;

}
.container_section__featured-item-img {
    padding-bottom: 22px;
}
.container_section__featured-item-title {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    letter-spacing: 0.7px;
    color: #A0A0A0;

}
.container_section__featured-item--text {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.7px;
    color: #A0A0A0;
}
/*************************************** START HOME OFFICE*/
.section__Home-Office {
}
.container_section__Home-Office {
    background: url(../img/Home-Office-Inspiration.png) no-repeat center / cover;
    height: 540px;
    max-width: 1440px;
    position: relative;
}
.section__Home-Office-title {
    position: absolute;
    bottom: 187px ;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 100%;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: Regular;
    font-size: 66px;
    color: #fff;


}
.section__Home-Office-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 100%;
    bottom: 150px ;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    color:#fff;


}
.section__Home-Office-link {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 100%;
    bottom: 120px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    color:#fff;
    text-transform: uppercase;

}


/********************************** START MADE-WAY*/
.section__made-way {
}

.section__made-way-container {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items:center; 
    flex-direction: column;
}
.section__made-way-title {
   
}
.section__made-way-text {
    margin-top: 23px;
     max-width: 777px;
    width: 100%;
    text-align: center;
    margin-bottom: 23px;
}
.section__made-way-img{
    max-width: 1052;
    width: 100%;
    height: 592;
}

/***************************************** START MAKE WORK*/
.section__Make-Work-container {
    display: flex;
    justify-content: center;
    align-items:center; 
    flex-direction: column;

}
.section__Make-Work-title {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: Regular;
    font-size: 34px;
    margin-top: 38px;
    margin-bottom: 23px;
    color: #000;

}
.section__Make-Work-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: #A0A0A0;
    max-width: 789px;
    width: 100%;
    text-align: center;
    margin-bottom: 78px;
}
/************************** START Make-Work*/
.section__Make-Work-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 25px;
}
.section__Make-Work-items {

}
.section__Make-Work-items-img {
    max-width: 202.5;
    width: 100%;
    height: 271.34375;
}




/***************************** START FOOTER */
/* footer buttom*/

.section__link {
    position: relative;
}
.section__link-goup {
    position: absolute;
    top: 0;
    right: 0;
    width: 82px;
    height: 82px;
    background-color: #000;
    border-radius: 5px;
}
.section__link-goup a {
    font-family: 'Roboto';
font-weight: 400;
font-style: Regular;
font-size: 15px;
line-height: 16px;
letter-spacing: 0.8px;
text-align: center;
    color:#fff;
    text-transform: uppercase;
}
